*
{
    margin: 0;
    padding: 0;

}
body
{
    background: rgb(247, 215, 230);
    width:100%;
    height:100vh;
}
.container
{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 250px;
    margin-left: auto;
    font-size: 5rem;
    letter-spacing: 3px;
    padding: 3px;
   
   
}
.wrapper
{
    border:3px solid blue;
    padding:1rem;
    
   
}